@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("User"))
                {
                    <li><a asp-area="" asp-controller="Trips" asp-action="Index">Your Trips</a></li>
                    <li><a asp-area="" asp-controller="AddPlace" asp-action="AddingNewPlaceFromUser">Add Place</a></li>
                    <li>
                        <img src="https://bt-wpstatic.freetls.fastly.net/wp-content/blogs.dir/2550/files/2018/06/smiles.jpg" alt="Example" width="100" height="50">
                    </li>
                    <li>
                        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                    </li>
                }
                else if (User.IsInRole("Admin"))
                {
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="AdminView" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                    </li>
                }
            }
            
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}