@{
    ViewData["Title"] = "Your trips";
}

@model List<Trip>

<h2>Your trips</h2>

<ul>
    @foreach (var trip in Model)
    {
        <li><a href="YourTrips/Trip/?id=@trip.Id">@trip.Id @trip.City</a></li>
    }

    <li><a href="/AddNewTrip/InitialStage"><h4>+</h4></a></li>
</ul>