@{
    ViewData["Title"] = "Add new trip";
}

@model List<string>

<form action="/AddNewTrip/FinallStage" method="post">
    <select name="city">
        @foreach (var city in Model)
        {
            {
                <option>@city</option>
            }
        }
    </select>
    <input type="date" name="start" />
    <input type="date" name="finish" />
    <input type="number" name="budget" />
    <input type="submit" />
</form>