@{
    ViewData["Title"] = "Adding of a new place";
}


<div>
    <h2>Add a new place</h2>
    <form method="post" action="/AddPlace/AddingPlaceToDataBase">
        <table>
            <tr>
                <td><p>Name</p></td>
                <td><input type="text" name="Name" /></td>
            </tr>
            <tr>
                <td><p>Type</p></td>
                <td><input type="text" name="Type" /></td>
            </tr>
            <tr>
                <td><p>City</p></td>
                <td><input type="text" name="City" /></td>
            </tr>
            <tr>
                <td><p>Address</p></td>
                <td><input type="text" name="Address" /></td>
            </tr>
            <tr>
                <td><p>Opens at</p></td>
                <td><input type="text" name="WorkTimeStart" /></td>
            </tr>
            <tr>
                <td><p>Closes at</p></td>
                <td><input type="text" name="WorkTimeFinish" /></td>
            </tr>
            <tr>
            <tr>
                <td><p>Coordinates</p></td>
                <td><input type="text" name="Coordinates" /></td>
            </tr>
            <tr>
                <td><p>Description</p></td>
                <td><input type="text" name="Description" /></td>
            </tr>
            <tr>
                <td><p>Rating</p></td>
                <td><input type="text" name="Rating" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit" /></td>
            </tr>
            <tr>

                <td><input type="hidden" name="PlaceState" value="Processed" /></td>
            </tr>
        </table>
    </form>

</div>

<style>
    #map {
        width: 500px;
        height: 500px;
    }
</style>
<div class="row">
    <div id="map"></div>
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 49.8382600, lng: 24.0232400 },
                zoom: 8
            });
            map.addListener('click', function (e) {
                placeMarkerAndPanTo(e.latLng, map);
            });
        }
        function placeMarkerAndPanTo(latLng, map) {
            var marker = new google.maps.Marker({
                position: latLng,
                map: map
            });
            map.panTo(latLng);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7tnGRfh4zut21AaOKJpBEGIh7UXJobVM&callback=initMap"
            async defer></script>
</div>

