@{
    ViewData["Title"] = "Adding of a new place";
}


<div>
    <h2>Add a new place</h2>
    <form method="post">
        <table>
            <tr>
                <td><p>Name</p></td>
                <td><input type="text" name="Name" /></td>
            </tr>
            <tr>
                <td><p>Type</p></td>
                <td><input type="text" name="Type" /></td>
            </tr>
            <tr>
                <td><p>City</p></td>
                <td><input type="text" name="City" /></td>
            </tr>
            <tr>
                <td><p>Address</p></td>
                <td><input type="text" name="Address" /></td>
            </tr>
            <tr>
                <td><p>Opens at</p></td>
                <td><input type="text" name="WorkTimeStart" /></td>
            </tr>
            <tr>
                <td><p>Closes at</p></td>
                <td><input type="text" name="WorkTimeFinish" /></td>
            </tr>
            <tr>
                <td><p>Coordinates</p></td>
                <td><input type="text" name="Coordinates" /></td>
            </tr>
            <tr>
                <td><p>Description</p></td>
                <td><input type="text" name="Description" /></td>
            </tr>
            <tr>
                <td><p>Rating</p></td>
                <td><input type="text" name="Rating" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit" /></td>
            </tr>
            <tr>

                <td><input type="hidden" name="PlaceState" value="Processed" /></td>
            </tr>
        </table>
    </form>

</div>

