
@{
    ViewData["Title"] = "Contact Us";
}

<h2>Contact Us</h2>

<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <img src="~/images/photo_2019-04-24_00-22-31.jpg" alt="Sergii" style="width:100%">
            <div class="container">
                <h2>Sergii Shvets</h2>
                <p class="title">CEO & Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>example@example.com</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <img src="~/images/photo_2019-04-23_16-59-45.jpg" alt="Yurii" style="width:100%">
            <div class="container">
                <h2>Yurii Danchyshyn</h2>
                <p class="title">Art Director</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>example@example.com</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img src="~/images/photo_2019-04-24_14-10-16.jpg" alt="Roman" style="width:100%">
            <div class="container">
                <h2>Roman Horbachevskyi</h2>
                <p class="title">Designer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>example@example.com</p>
            </div>
        </div>
    </div>
</div>