
@{
    ViewData["Title"] = "Contact Us";
}

<h2>Contact Us</h2>

<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <img src="~/images/photo_2019-04-24_00-22-31.jpg" alt="Sergii" style="width:100%">
            <div class="container">
                <h2>Sergii Shvets</h2>
                <p class="title">.Net developer</p>
                <p>Responsible for applying Google maps API</p>
                <p>and deployment into Azure.</p>
                <p>sergius.shvets@raptor.team</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <img src="~/images/photo_2019-04-23_16-59-45.jpg" alt="Yurii" style="width:100%">
            <div class="container">
                <h2>Yurii Danchyshyn</h2>
                <p class="title">.Net developer</p>
                <p>Responsible for authentication and authorization,</p>
                <p>database creation, administration.</p>
                <p>yurii.danchyshyn@raptor.team</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img src="~/images/photo_2019-04-24_14-10-16.jpg" alt="Roman" style="width:100%">
            <div class="container">
                <h2>Roman Horbachevskyi</h2>
                <p class="title">.Net developer</p>
                <p>Responsible for trips creation and modification,</p>
                <p>database migrations, team work coordination.</p>
                <p>roman.horbachevskyi@raptor.team</p>
            </div>
        </div>
    </div>
</div>