@{
    ViewData["Title"] = "Home Page";
}

<h3>
    Welcome to the best service for planning your trips.
</h3>
<h4>Why you have to choose us? Because we give you all that you need for planning your trip!</h4>
<h4>Our service is easy in use with a lot of features and opportunity to:</h4>
<h4>
    <li>
        select different locations by their type,
        rating
    </li>
    <li>you can create routs</li>
    <li>plan you budget</li>
    <li>book places</li>
    <li>buy tickets</li>
</h4>

<h4>And all of these are in one place! You don't need to search something
    on different web sites!</h4>



