@{
    ViewData["Title"] = "Home Page";
}

<h3>
    Welcome to the best service for planning your trips.
</h3>
<p>Why you have to choose us? Because we give you all that you need for planning your trip!</p>
<li>Choose places by their type</li>
<li>By their rating</li>
<li>Plan you budget</li>
<li></li>
