@{
    ViewData["Title"] = "Initial Stage";
}

<form action="/AddNewTrip/FinallStage" method="post">
    <select name="city">
        @{
            foreach (var city in ViewBag.Cities)
            {
                <option>@city</option>
            }
        }
    </select>
    <br />
    <input type="date" name="startDate" />
    <input type="time" name="startTime" />
    <br />
    <input type="date" name="finishDate" />
    <input type="time" name="finishTime" />
    <br />
    <input type="number" name="budget" />
    <br />
    <select name="tags" multiple="multiple">
        @{
            foreach (var tag in ViewBag.Tags)
            {
                <option>@tag</option>
            }
        }
    </select>
    <br />
    <input type="submit" name="submit" />
</form>